body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f4fafa;
  font-family: sans-serif;
  margin: 0;
}

.calculator {
  background-color: #bc71d0;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 0px 30px rgba(64, 8, 92, 0.747);
  width: 310px; /* ancho fijo para evitar que el input se expanda demasiado */
}

#display {
  width: 100%;
  height: 50px;
  font-size: 1.8rem;
  margin-bottom: 15px;
  text-align: right;
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: #333;
  color: white;
  box-sizing: border-box;
}

.buttons {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
}

button {
  height: 60px;
  font-size: 1.5rem;
  border: none;
  border-radius: 5px;
  background-color: #fffefe;
  color: rgb(0, 0, 0);
  cursor: pointer;
  transition: background-color 0.2s;
}

button:hover {
  background-color: #ffffff;
}